/* Tổng quan */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.fixed-top {
    background-color: #fff;
    z-index: 1000;
}

a {
    text-decoration: none;
    color: inherit; /* or you can specify a color like 'color: #000;' */
}

.logo img {
    width: 150px; /* Chỉnh lại kích thước logo */
    height: auto; /* Tự động điều chỉnh chiều cao để giữ tỉ lệ hình ảnh */
    padding: 20px;
}

.nav-link {
    margin: 0;
    padding-top: 20px;
    position: relative;
}

.nav-link:hover {
    font-weight: bold; /* In đậm */
    color: rgba(204, 0, 0, 0.767); /* Thay đổi màu chữ */
}

.container_navbar-active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 25%;
    right: 25%;
    height: 4px;
    width: 50%;
    background-color: #c00; /* Màu của thanh */
    border-radius: 2px; /* Bo tròn góc thanh */
    transition: all 0.3s ease;
}

.nav-link:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 25%;
    right: 25%;
    height: 4px;
    width: 50%;
    background-color: #c00; /* Màu của thanh */
    border-radius: 2px; /* Bo tròn góc thanh */
    transition: all 0.3s ease;
}

.btn {
    padding: 0 12px;
}
.lang:hover {
    font-weight: bold; /* In đậm */
    color: rgba(204, 0, 0, 0.767);
}

/*banner */
.video-banner {
    position: relative;
    width: 100%;
    height: 100vh; /* Chiều cao của video banner bằng chiều cao của màn hình */
    overflow: hidden;
    margin: 0;
    z-index: 1;
}
.video__mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video__mobile video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo video bao phủ toàn bộ phần tử */
}
